/* Base state: Standard usage (Mobile/Tablet) */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

/* Hide custom cursor on mobile by default */
.custom-cursor {
    display: none;
}

/* DESKTOP ONLY: Enable custom cursor */
@media (min-width: 1024px) {

    /* Hide default cursor */
    * {
        cursor: none !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Custom cursor container */
    .custom-cursor {
        display: block;
        /* Show it */
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        pointer-events: none;
        mix-blend-mode: difference;
        width: 50px;
        margin-left: -25px;
        /* Center alignment */
        margin-top: -25px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;

        /* Critical: We transition specific properties, NOT 'translate' or 'all' */
        transition-property: transform, scale, opacity;
        transition-duration: 250ms;
        transition-timing-function: ease-in-out;

        scale: 0.3;
        z-index: 9999;
    }

    .custom-cursor--link {
        scale: 1;
    }

    .custom-cursor--init {
        opacity: 1;
    }

    .custom-cursor--click {
        scale: 1.5;
    }

    /* Ensure links in general don't show cursor */
    a,
    button,
    [type="button"],
    [type="submit"],
    [role="button"] {
        cursor: none !important;
    }
}